header {
	background-color: red;
	color: gold;
}

body {
  background-image: url('34034.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a {
	text-decoration-line: none;
	text-decoration: none;
	color: yellow;
}


div {
	display: flex;
	justify-content: center;
	height: 400px;
	width: 700px;
	background-color: blue;
}

p {
	color: gold;

}