header {
	background-color: darkred;
	color: gold;
	padding: 30px 20px;
}

body {
  background-image: url('34034.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a {
	text-decoration-line: none;
	text-decoration: none;
	color: yellow;
}

.container {
	display: flex;
	flex-direction: row;
}

.board {

	float: left;
	height: 685px;
	width: 900px;
	margin: 20px;
	background-image: url('PngItem_5261761.png');
  	background-repeat: no-repeat;
  	background-attachment: relative;
  	background-position: center;
  	text-align: center;
  	justify-content: center;
	vertical-align: middle;
}

p {
	color: gold;
}

.panel{

	float: right;
}